<div class="typewriter-container" [style.backgroundImage]="'url(images/hack_low_opacity.png)'">
    <!-- <img src="images/hack.jpg" alt=""> -->
    <div class="type-left" style="z-index: 1000;position: relative;">
        <div class="hi-there">Hi There! <span>👋🏻</span></div>
        <!-- <div class="title">Privacy is power. Speak freely with Anonymous</div> -->
        <span class="typewriter-text">{{ currentMessage }}</span>
        <span class="cursor">|</span>
    </div>
    <div class="type-right">
        <!-- <img src="images/11602236_21004063.png" alt=""> -->
    </div>
</div>

<div class="about-section">
    <h1>About</h1>
    <p>Welcome to our secure and anonymous messaging platform, designed to empower open and honest communication while ensuring complete privacy. Our platform allows users to share their thoughts and confessions freely, without revealing their identity. Whether you wish to express personal emotions, share untold stories, or simply unburden yourself, our confession form provides a safe space where your voice can be heard without fear of judgment.  
    </p>
    <p>In addition to anonymous confessions, we offer a unique secret message tool that enables users to send private messages with a time-sensitive viewing window. Simply compose your message, generate a secure URL, and share it with the intended recipient. Once opened, the message remains visible only for a limited time before automatically expiring, ensuring complete discretion.  
    </p>
    <p>With a strong focus on privacy, security, and user anonymity, we are dedicated to providing a seamless and confidential communication experience. Our platform is built to protect your identity while allowing you to express yourself freely in a safe and trustworthy environment.</p>
</div>