<div class="secret-message-container">
  <h2 class="conf-title">Your Words, Your Mystery – Create & Share</h2>
  
  <textarea [(ngModel)]="secretMessage" placeholder="Write a secret message..."></textarea>

  <button (click)="generateSecretLink()">Generate Secret Link</button>

  <div *ngIf="secretLink" class="secret-link-container">
    <p>Your Secret Message Link:</p>
    <input [value]="secretLink" readonly>
    <a [href]="secretLink" target="_blank" class="secret-link">{{ secretLink }}</a>
    <button (click)="copyToClipboard(secretLink)">Copy Link</button>
  </div>

  <div class="secret-timer" *ngIf="countdown !== null">
    <p>Message will expire in: <span>{{ countdown }} seconds</span></p>
  </div>

  <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
</div>

<div class="container">
  <h2>Secret Message</h2>

  <div *ngIf="messageContent" class="message-content">
    <h3>Secret Message:</h3>
    <p>{{ messageContent }}</p>
  </div>

  <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
</div>
